extends layout
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/comments.css")
  link(rel="preconnect" href="https://fonts.googleapis.com")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
include utils
block content
  div(class='this-post')
    div(class='post-container')
      div(class='post-title-contain')
        div(class='post-title')= post.title
      div(class='post-description post-poster')= post.description
      div(class='post-image')
        img(src=post.image class='post-image-file')
      div(class='login-header')
        div(class='login-text')
      form(action=`/comments/${post.id}` method='post' class="comment-form")
        div(class='user-comment-container')
          img(class='user-comment' src=user.image)
          input(type='text' name="description" value=description class='comment-input' placeholder='Add a comment...' required)
          button(type='submit' class='submit-button') Add Comment
      div(class='post-comments')
        p
          if comments
            each comment in comments
              p

              div
                each user in users
                  if user.id === comment.userId
                    div(class='commenter-container')
                      img(class='commenter-img' src= user.image)
                      div(class='commenter-username')= user.userName
              div(class='commenter-comment')= comment.description
            else
              div(class='post-comments') Be the first to comment
                div(class='post-comments') Don't Forget...
                  img(class='will-ferrell-pic')
