extends layout
append head
    link(rel='stylesheet' href='/stylesheets/profile.css')
block content
  div(class='container')
    div(class='profile-layout')
      div(class='profile-info-container')
        label(class='label-text') Username
        div(class='profile-basic')= user.userName
        label(class='label-text') Full Name
        div(class='profile-basic')= user.fullName
        label(class='label-text') Email Address
        div(class='profile-basic')= user.email
        img(src= user.image class='profile-img')
        label(class='label-text') Edit Personal Tag
        form(action=`/users/update/${user.id}` method='post')
          input(type='text' class='profile-basic user-tag' name='tag' value=user.tag)
          button(type='submit') update
