extends layout
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/main.css")
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
include utils
block content
  div(class='main-container')
    div(class='tags-container')
      h2 Categories:
        ul(class='tags-tags')
          each tag in tags
            div(class='tags-links')
              img(src='https://image.flaticon.com/icons/png/512/4285/4285622.png' class='timer-img')
              a(href=`/tags/${tag.id}` class='tags-link' value=tag.id)= tag.name
    div(class='this-post')
      each post in posts
        div(class='post-container')
          div(class='post-grid-container')
            div(class='post-user-container')
              form(class='delete-post' action=`posts/delete/${post.id}` method='post')
                button(class='delete-this-post' role='button') X
              each user in users
                if user.id === post.userId
                  div(class='users-contained')
                    img(class='post-user-image' src= user.image)
                    div(class='user-info-container')
                      div(class='post-username')= user.userName
                      div(class='post-user-tag')= user.tag
                    div(class='post-user-email')= user.email
                    div(class='post-timer')= `posted ${Math.ceil((new Date() - post.updatedAt)/60000)} minute(s) ago`
            div(class='post-title-contain')
              div(class='post-title')= post.title
            div(class='post-description post-poster')= post.description
            div(class='post-image post-image-poster')
              img(src=post.image class='post-image-file' )
            div(class='buttons-for-posts')
              a(type='button' href=`comments/${post.id}`)
                img(class='like-button' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgRqp-cHJ8h1-nwjnqa3BahRWMKNss_0ARckb7uuc1SY9fi9TdN25JsN1kl22P5hjuNpI&usqp=CAU")
              a(type='button' href=`/posts/edit/${post.id}`)
                img(class='like-button' src="https://www.pngitem.com/pimgs/m/114-1146547_new-post-new-post-icon-svg-hd-png.png")
            div(class='like-hate')
              form(action=`/posts/hate/${post.id}` method="post")
                button(type='submit' class='hate-me-button like-button like' id='hate') 👎
              a(class='ratings')= post.postLikes
              form(action=`/posts/like/${post.id}` method="post")
                button(href=`/posts/like/${post.id}` class='like-me-button like-button hate' id='like') 👍
